{% macro intervention(data) %}
  <article class='flex flex-col sm:flex-row space-y-3 sm:space-y-0 sm:space-x-4'>
    <div class='self-center sm:self-start sm:h-auto sm:min-w-35'>
      <img height='{{data.icon.dimensions.height}}' width='{{data.icon.dimensions.width}}' class='sm:w-full sm:h-auto' src="{{data.icon.url}}" alt=""/>
    </div>
    <div>
      <h3 class='text-center sm:text-start heading-2'>
        {{data.name}}
      </h3>
      <div class='paragraph'>
        {% asHtml data.description %}
      </div>
    </div>
  </article>
{% endmacro %}