{% macro review(data) %}
  <figure class='quote'>
    <blockquote>
      {% asHtml data.text %}
    </blockquote>
    <div class='flex mt-1 quote_caption'>
      <figcaption>{{ data.author }}</figcaption>, visité en {{data.date | formatDate('MMMM yyyy', 'fr') }}
    </div>
  </figure>
{% endmacro %}