/*
    Because the header is sticky, anchors have an offset.
    Hence the following utility class to negate the header width
    And thus avoid the offset
*/
.anchor-offset {
  --headerHeight: theme('spacing.10');
  margin-top: calc(var(--headerHeight) * -1);
  padding-top: var(--headerHeight);
  @media (--screen-xs) {
    --headerHeight: theme('spacing.11');
  }
}
