/*
    Because the header is sticky, anchors have an offset.
    Hence the following utility class to negate the header width
    And thus avoid the offset
*/
.anchor-offset {
  @supports not (scroll-padding-top: var(--headerHeight)) {
    margin-top: calc(var(--headerHeight) * -1);
    padding-top: var(--headerHeight);
    color: cyan !important;
  }
}
