:root {
  --lebo-ui-fontWeight-normal: 400;
  --lebo-ui-fontWeight-medium: 500;
  --lebo-ui-fontWeight-sbold: 600;
  --lebo-ui-fontWeight-bold: 700;
  --lebo-ui-fontWeight-xbold: 800;
  --lebo-ui-fontWeightSetting: var(--lebo-ui-fontWeight-normal);
}

.font-normal,
.font-medium,
.font-sbold,
.font-bold,
.font-xbold {
  @supports not (font-variation-settings: 'wght' var(--lebo-ui-fontWeightSetting)) {
    font-weight: var(--lebo-ui-fontWeightSetting);
  }
}

.font-normal {
  --lebo-ui-fontWeightSetting: var(--lebo-ui-fontWeight-normal);
}

.font-medium {
  --lebo-ui-fontWeightSetting: var(--lebo-ui-fontWeight-medium);
}

.font-bold {
  --lebo-ui-fontWeightSetting: var(--lebo-ui-fontWeight-bold);
}

.font-sbold {
  --lebo-ui-fontWeightSetting: var(--lebo-ui-fontWeight-sbold);
}

.font-xbold {
  --lebo-ui-fontWeightSetting: var(--lebo-ui-fontWeight-xbold);
}
