:root {
  --printPtMultiplier: 0.75pt;
}

@layer components {
  .heading-1,
  .heading-2 {
    @apply leading-loose uppercase;
  }

  .heading-1 {
    --lebo-ui-fontWeightSetting: var(--lebo-ui-fontWeight-xbold);
    @apply mb-2 text-15 xs:mb-4 xs:text-26;
    @media print {
      font-size: calc(26 * var(--printPtMultiplier));
      margin-bottom: calc(20 * var(--printPtMultiplier));
    }
  }

  .heading-2 {
    --lebo-ui-fontWeightSetting: var(--lebo-ui-fontWeight-bold);
    @apply text-15 xs:text-18 mb-1;
    @media print {
      font-size: calc(18 * var(--printPtMultiplier));
    }
  }

  .quote,
  .paragraph {
    --lebo-ui-fontWeightSetting: var(--lebo-ui-fontWeight-normal);
    @apply text-11 xs:text-14 leading-xloose xs:leading-loose;
    @media print {
      font-size: calc(14 * var(--printPtMultiplier));
    }
  }

  .quote blockquote {
    @apply italic;
    --lebo-ui-fontWeightSetting: var(--lebo-ui-fontWeight-medium);
  }

  .paragraph ul {
    @apply mt-2 space-y-1;
  }

  .paragraph li::before {
    content: '-';
    margin-inline-end: 1ch;
  }

  .paragraph strong {
    font-weight: inherit;
  }
}
