:root {
  --printPtMultiplier: 0.75pt;
}

@layer components {
  .heading-1,
  .heading-2 {
    @apply leading-loose uppercase;
  }

  .heading-1 {
    @apply mb-2 text-15 xs:mb-4 xs:text-26;
    font-weight: unset !important;
    --lebo-ui-fontWeightSetting: theme('fontWeight.xbold');
    font-variation-settings: 'wght' var(--lebo-ui-fontWeightSetting);

    @media print {
      font-size: calc(26 * var(--printPtMultiplier));
      margin-bottom: calc(20 * var(--printPtMultiplier));
    }
  }

  .heading-2 {
    @apply text-15 xs:text-18 mb-1;
    --lebo-ui-fontWeightSetting: theme('fontWeight.bold');
    font-weight: unset !important;
    font-variation-settings: 'wght' var(--lebo-ui-fontWeightSetting);

    @media print {
      font-size: calc(18 * var(--printPtMultiplier));
    }
  }

  .quote,
  .paragraph {
    --lebo-ui-fontWeightSetting: theme('fontWeight.normal');
    font-variation-settings: 'wght' var(--lebo-ui-fontWeightSetting);
    font-weight: unset !important;
    @apply text-11 xs:text-14 leading-xloose xs:leading-loose;
    @media print {
      font-size: calc(14 * var(--printPtMultiplier));
    }
  }

  .quote blockquote {
    @apply italic;
    font-weight: unset !important;
    --lebo-ui-fontWeightSetting: theme('fontWeight.medium');
    font-variation-settings: 'wght' var(--lebo-ui-fontWeightSetting);
  }

  .paragraph ul {
    @apply mt-2 space-y-1;
  }

  .paragraph li::before {
    content: '-';
    margin-inline-end: 1ch;
  }

  .paragraph strong {
    font-weight: inherit;
  }
}
