:root {
  /*
Utilities
*/
  --tw-text-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-border-opacity: 1;
  --lebo-ui-bg-opacity: 1;
  --lebo-ui-color-opacity: 1;
  --lebo-ui-border-opacity: 1;
  --lebo-ui-ring-opacity: 1;

  /*
Palette
*/
  --lebo-ui-palette-neutral_100: 255, 255, 255;
  --lebo-ui-palette-neutral_200: 26, 26, 26;
  --lebo-ui-palette-green_100: 33, 151, 169;
  --lebo-ui-palette-green_200: 25, 121, 136;
  --lebo-ui-palette-green_300: 20, 102, 115;

  /*
    Typography
  */
  --lebo-ui-fontWeight-normal: 400;
  --lebo-ui-fontWeight-medium: 500;
  --lebo-ui-fontWeight-sbold: 600;
  --lebo-ui-fontWeight-bold: 700;
  --lebo-ui-fontWeight-xbold: 800;
  --lebo-ui-fontWeightSetting: var(--lebo-ui-fontWeight-normal);
}

@variants responsive {
  /* 
    Theme variants
  */
  .surface,
  .surface-neutral-100 {
    --lebo-ui-surfaceBgColor: var(--lebo-ui-palette-neutral_100);
    --lebo-ui-textColor: var(--lebo-ui-palette-neutral_200);
    --lebo-ui-accent: var(--lebo-ui-palette-green_100);
    --lebo-ui-interactive: var(--lebo-ui-palette-green_100);
    --lebo-ui-interactive-hover: var(--lebo-ui-palette-green_200);
    --lebo-ui-interactive-active: var(--lebo-ui-palette-green_300);
    --lebo-ui-interactive-focus: var(--lebo-ui-palette-green_100);
  }

  .surface-neutral-200 {
    --lebo-ui-surfaceBgColor: var(--lebo-ui-palette-neutral_200);
    --lebo-ui-textColor: var(--lebo-ui-palette-neutral_100);
    --lebo-ui-accent: var(--lebo-ui-palette-neutral_100);
    --lebo-ui-interactive: var(--lebo-ui-palette-neutral_100);
    --lebo-ui-interactive-hover: var(--lebo-ui-palette-neutral_100);
    --lebo-ui-interactive-active: var(--lebo-ui-palette-neutral_100);
    --lebo-ui-interactive-focus: var(--lebo-ui-palette-neutral_100);
  }

  .surface-primary {
    --lebo-ui-surfaceBgColor: var(--lebo-ui-palette-green_100);
    --lebo-ui-textColor: var(--lebo-ui-palette-neutral_100);
    --lebo-ui-accent: var(--lebo-ui-palette-neutral_100);
    --lebo-ui-interactive: var(--lebo-ui-palette-neutral_100);
    --lebo-ui-interactive-hover: var(--lebo-ui-palette-neutral_100);
    --lebo-ui-interactive-active: var(--lebo-ui-palette-neutral_100);
    --lebo-ui-interactive-focus: var(--lebo-ui-palette-neutral_100);
  }

  /*
    Theme implementation
  */
  .surface {
    border-color: rgba(var(--lebo-ui-surfaceBorderColor), var(--tw-border-opacity));
    background-color: rgba(var(--lebo-ui-surfaceBgColor), var(--tw-bg-opacity));
  }

  .surface * {
    color: rgba(var(--lebo-ui-textColor), var(--tw-text-opacity));
  }

  .surface .heading-1,
  .surface .heading-2,
  .surface .quote_caption,
  .surface .paragraph.accent {
    --lebo-ui-textColor: var(--lebo-ui-accent);
  }

  .surface a:not(.cta) {
    --lebo-ui-textColor: var(--lebo-ui-interactive);

    &:hover {
      --lebo-ui-textColor: var(--lebo-ui-interactive-hover);
    }
    &:active {
      --lebo-ui-textColor: var(--lebo-ui-interactive-active);
    }
    &:focus {
      --lebo-ui-textColor: var(--lebo-ui-interactive);
    }
  }
}
