<section>
  <h2 id="la-clinique" class='heading-1 text-center anchor-offset'>
    {{ landing.section_clinic_title}}
  </h2>
  <div class='paragraph'>
    {% asHtml landing.section_clinic_text %}
  </div>
  <div class='uncontained md:not-uncontained my-6 lg:mb-0 h-215 2xs:h-250 xs:h-300 sm:h-350 lg:h-450' data-latitude='{{landing.clinic_geocoordinates.latitude}}' data-longitude='{{landing.clinic_geocoordinates.longitude}}' id="clinic-map"></div>
</section>