<section class='relative overflow-hidden surface surface-primary flex flex-col lg:flex-row-reverse'>
  <div class='container py-6 lg:pb-8'>
    <div class='lg:w-1/2 lg:pis-7 lg:mis-auto'>
      <h2 id="le-cabinet" class='heading-1'>
        {{landing.section_office_title}}
      </h2>
      <div class='paragraph'>
        {% asHtml landing.section_office_text %}
        <a class='block font-medium mt-5' href='#'>
          {{landing.section_office_emphasis_text}}
        </a>
      </div>
    </div>
  </div>
  <section class='z-up lg:absolute lg:inline-start-0 lg:top-0 h-full lg:w-1/2'>
    <h3 class='sr-only'>Photos du cabinet des docteurs Florence Lejeune et Anne-Laure Bouffaut</h3>
    <div class="glider-contain h-full w-full relative">
      <ol class="glider overflow-x-hidden h-full w-full" id="carousel">
        {% for data in landing.section_office_images_carousel %}
        <li>
          <picture class='w-full h-full'>
            <source media="(max-width: 575px)" srcset="{{data.image.url}}" />
            <source media="((min-width: 576px) and (max-width: 1279px) )" srcset="{{data.image.xs.url}}" />
            <source media="(min-width: 1280px)" srcset="{{data.image.lg.url}}" />
            <img height='{{data.image.dimensions.height}}' width='{{data.image.dimensions.width}}' class='h-full w-full object-cover' loading='lazy' src="{{data.image.url}}" alt="">
          </picture>
        </li>
        {% endfor %}
      </ol>
      <button class="carousel_control-prev inline-start-4 text-neutral-100 absolute z-up top-1/2 transform -translate-y-1/2">
        <svg class='w-2 xs:w-4' viewBox="0 0 19 45" aria-hidden='true' fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.349.594a1.46 1.46 0 012.067-.289c.611.471.76 1.332.364 1.982l-.08.12L3.705 22.5 18.7 42.593a1.518 1.518 0 01-.175 2.01l-.109.092a1.458 1.458 0 01-1.976-.177l-.091-.111L0 22.5 16.349.594z" fill="currentColor" /></svg>
        <span class='sr-only'>Image précédente</span>
      </button>
      <button class="carousel_control-next inline-end-4 absolute z-up top-1/2 transform -translate-y-1/2">
        <svg class='w-2 xs:w-4' viewBox="0 0 19 45" aria-hidden='true' fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.651.594A1.46 1.46 0 00.584.305 1.517 1.517 0 00.22 2.287l.08.12L15.295 22.5.3 42.593a1.518 1.518 0 00.175 2.01l.109.092a1.458 1.458 0 001.976-.177l.091-.111L19 22.5 2.651.594z" fill="currentColor"/></svg>
        <span class='sr-only'>Image suivante</span>
      </button>
      <div role="tablist" class="carousel_dots space-x-2 bottom-4 absolute z-up inline-start-1/2 transform -translate-x-1/2"></div>
    </div>
  </section>
</section>