@layer components {
  .surface .cta {
    --color: var(--lebo-ui-surfaceBgColor);
    --bg: var(--lebo-ui-accent);
    --borderColor: var(--bg);

    background-color: rgba(var(--bg), var(--tw-bg-opacity));
    color: rgba(var(--color), var(--tw-text-opacity));
    border-color: rgba(var(--color), var(--tw-border-opacity, 0));

    @apply outline-none border-1 border-solid transition-all;

    &:hover {
      --bg: var(--lebo-ui-interactive-hover);
    }
    &:active {
      --bg: var(--lebo-ui-interactive-active);
    }
    &:focus {
      --bg: var(--lebo-ui-interactive-focus);
    }
    @media print {
      display: hidden;
    }
  }

  .surface-primary .cta {
    @apply hover:bg-opacity-90 focus:bg-opacity-90;
  }

  .surface .cta--reverse {
    --color: var(--lebo-ui-accent);
    --bg: var(--lebo-ui-surfaceBgColor);
    --borderColor: var(--lebo-ui-accent);

    &:hover {
      --bg: var(--lebo-ui-interactive-hover);
      --color: var(--lebo-ui-surfaceBgColor);
      --borderColor: var(--bg);
    }
    &:active {
      --bg: var(--lebo-ui-interactive-active);
      --color: var(--lebo-ui-surfaceBgColor);
      --borderColor: var(--bg);
    }
    &:focus {
      --bg: var(--lebo-ui-interactive-focus);
      --color: var(--lebo-ui-surfaceBgColor);
      --borderColor: var(--bg);
    }
  }
}
