---
import * as prismic from '@prismicio/helpers'
import ReviewItem from './ReviewItem.astro'

const {
  data: { section_reviews_title, section_reviews_text, reviews },
} = Astro.props
---

<section>
  <h2
    id="reviews"
    class="text-[1.625rem] text-primary-500 pb-4 font-black uppercase anchor-offset text-center anchor-offset"
  >
    {section_reviews_title}
  </h2>
  <div
    class="font-regular text-center xl:text-sm [&_a]:underline hover:[&_a]:no-underline focus:[&_a]:no-underline [&_a]:text-primary-500 focus:[&_a]:text-primary-600 font-light text-neutral-900"
  >
    <Fragment set:html={prismic.asHTML(section_reviews_text)} />
  </div>
  <section class="mt-6">
    <h3 class="sr-only">Les derniers avis sur les docteurs Florence Bouffaut et Anne-Laure Lejeune</h3>
    <ul class="space-y-4 xs:space-y-5 md:space-y-6">
      {
        reviews.map((review) => (
          <li>
            <ReviewItem {...review} />
          </li>
        ))
      }
    </ul>
  </section>
</section>
