---
import * as prismic from '@prismicio/helpers'

const { text, author, date } = Astro.props
---

<figure class="quote">
  <blockquote class="xl:text-sm italic font-medium">
    <Fragment set:html={prismic.asHTML(text)} />
  </blockquote>
  <div class="text-primary-500 flex flex-col xs:flex-row items-baseline gap-[1ex] font-light pt-1 xl:text-sm">
    <figcaption class="grow-0 after:content-[',']">{author}</figcaption>
    <span class="shrink-0"
      >visité en {
        new Intl.DateTimeFormat('fr-FR', {
          month: 'long',
          year: 'numeric',
        }).format(new Date(date))
      }</span
    >
  </div>
</figure>
