---
layout: layouts/default.njk
---
{% block seo_head %}
  <link rel="canonical" href="https://www.chirurgien-esthetique-nantes.fr/" />
{% endblock %}
<main>
  {% include "pages/home/sectionOffice.njk" %}
  {% include "pages/home/sectionInterventions.njk" %}
  {% include "pages/home/sectionTeam.njk" %}
  <div class='container grid grid-cols-1 lg:gap-x-10 lg:grid-cols-2 pt-5 pb-6 sm:py-7 surface surface-neutral-100'>
    <div class='col-span-1'>
      {% include "pages/home/sectionClinic.njk" %}
    </div>
    <div class='col-span-1 lg:pis-10'>
      {% include "pages/home/sectionReviews.njk" %}
    </div>
  </div>
</main>