---
layout: layouts/default.njk
---
{% block seo_head %}
  <link rel="canonical" href="https://www.chirurgien-esthetique-nantes.fr/" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
{% endblock %}
<main>
  {% include "pages/home/sectionOffice.njk" %}
  {% include "pages/home/sectionInterventions.njk" %}
  {% include "pages/home/sectionTeam.njk" %}
  <div class='max-w-screen overflow-x-hidden sm:max-w-unset'>
    <div class='container grid grid-cols-1 lg:gap-x-10 lg:grid-cols-2 pt-5 pb-6 sm:py-7 surface surface-neutral-100'>
      <div class='col-span-1'>
        {% include "pages/home/sectionClinic.njk" %}
      </div>
      <div class='col-span-1 lg:pis-10'>
        {% include "pages/home/sectionReviews.njk" %}
      </div>
    </div>
  </div>
</main>