/*
  Base styles
*/

*,
*::before,
*::after {
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
  font-weight: unset;
  font-variation-settings: 'wght' var(--lebo-ui-fontWeightSetting);
}

html {
  @apply text-px subpixel-antialiased overflow-x-hidden;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  text-rendering: optimizelegibility;
}

body {
  @apply flex flex-col min-h-screen font-body;
  font-size: 1rem;
}

a {
  background-color: transparent;
  color: inherit;
}

a:not(.cta),
a:not(.no-underline) {
  @apply underline hover:no-underline active:no-underline;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  overflow: visible;
  text-transform: none;
  padding: 0;
  background-color: transparent;
  color: inherit;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

body,
blockquote,
h1,
h2,
h3,
figure,
p,
ol {
  margin: 0;
}

button,
ul {
  padding: 0;
}

button::-moz-focus-inner {
  border: 0 !important;
}

h1,
h2,
h3 {
  @apply font-heading;
}

img,
svg {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}
